# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

h5py=2.10.0
keras-applications=1.0.8
keras-preprocessing=1.1.0
numpy=1.18.1
pandas=1.0.0
python=3.7.6
scikit-learn=0.22.1
tensorflow=2.1.0
